h1{
  margin-top: 70px; 
  text-align: center;
  margin-bottom: 82px;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.row{
  margin-left: 87px;
}

.p{
  display: block;
  margin-top: 14px;
  margin-bottom: 97px;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
}
